#
# Configuration file
# for the script https://github.com/nicolargo/ubuntupostinstall
#
# Ubuntu version: 13.04
# UI: Unity
#


# Actions to be executed before all the others steps
# Use && separator if there is more than 1 action
[preactions]
action_dummy = dpkg -l > /tmp/pkg-before.txt


# The repos section
# ppa_xxx = ppa:ppauser/ppaname > Add the ppa to the system
# pkg_xxx = pkglist             > Add the package list to the system
# url_xxx = reposurl            > Add the repository URL to the system
# key_xxx = key                 > Add the repository key to the system
[repos]
# Add themes for UI
# Please configure default icons/theme in the gnome3|unity section
ppa_gnome3_themes_1 = ppa:webupd8team/themes
pkg_gnome3_themes_1 = boomerang-gtk-theme faenza-icon-theme
ppa_gnome3_themes_2 = ppa:satyajit-happy/themes
pkg_gnome3_themes_2 = orion-gtk-theme evolve-gtk-theme

# Unity scope and lens
ppa_unity_lens = ppa:scopes-packagers/ppa
pkg_unity_lens = unity-lens-photo unity-lens-sshsearch unity-scope-colourlovers unity-scope-flickr unity-scope-iconfinder unity-scope-shotwell unity-scope-spotify

# Unity Brightness applet
ppa_unity_brightness = ppa:indicator-brightness
pkg_unity_brightness = indicator-brightness

# Shutter screen capture
ppa_shutter = ppa:shutter
pkg_shutter = shutter

# Tweak your system
ppa_tweak = ppa:tualatrix/ppa
pkg_tweak = ubuntu-tweak

# Terminal the best terminal in the world (PPA NOT YET AVAILABLE FOR PRECISE)
pkg_terminator = terminator

# Geany: Light IDE (PPA NOT YET AVAILABLE FOR PRECISE)
#ppa_geany = ppa:geany-dev/ppa
pkg_geany = geany

# Spotify (DID NOT WORK# Spotify
ppa_spotify = "deb http://repository.spotify.com stable non-free"
pkg_spotify = spotify-client-qt

# Dropbbox share/unshare script for Nautilus
ppa_dropboxshare = ppa:nilarimogard/webupd8
pkg_dropboxshare = dropbox-share

# Jupiter (a must have for Laptop)
#~ ppa_jupiter = ppa:webupd8team/jupiter
#~ pkg_jupiter = jupiter

# Handbrake (PPA release NOT YET AVAILABLE FOR PRECISE)
#ppa_handbrake = ppa:stebbins/handbrake-releases
ppa_handbrake = ppa:stebbins/handbrake-snapshots
pkg_handbrake = handbrake-gtk

# Marlin, another file browser
ppa_marlin = ppa:marlin-devs/marlin-daily
pkg_marlin = marlin marlin-plugin-dropbox marlin-plugin-ubuntuone

# Nautilus extra actions
ppa_nautilusactionsextra = ppa:nae-team/ppa
pkg_nautilusactionsextra = nautilus-actions-extra

# Darktable, deRAWtiser
ppa_darktable = ppa:pmjdebruijn/darktable-release
pkg_darktable = darktable

# Sublime text 2 (sublime but not FOSS)
ppa_sublime = ppa:webupd8team/sublime-text-2
pkg_sublime = sublime-text

# Sublime text 3 (sublime but not FOSS)
ppa_sublime = ppa:webupd8team/sublime-text-3
pkg_sublime = sublime-text-installer

# Gimp (latest version)
ppa_gimp = ppa:otto-kesselgulasch/gimp
pkg_gimp = gimp gimp-plugin-registry

# TLP (improve battery for Laptop install)
ppa_tlp = ppa:linrunner/tlp
pkg_tlp = smartmontools tlp tlp-rdw ethtool tp-smapi-dkms acpi-call-tools

# The packages section
# pkgname = pkglist > Add the pkglist to the system
[packages]
ubuntu-restrictive = ubuntu-restricted-extras
development = build-essential vim subversion git git-core rabbitvcs-nautilus anjuta geany ipython  python-docutils python-pip python-virtualenv
multimedia = vlc x264 ffmpeg2theora oggvideotools istanbul shotwell mplayer hugin nautilus-image-converter pavucontrol ogmrip transmageddon guvcview wavpack mppenc faac flac vorbis-tools faad lame nautilus-script-audio-convert cheese sound-juicer picard arista milkytracker mypaint libdvdread4
network = iftop ifstat iptraf wireshark tshark arp-scan htop netspeed nmap netpipe-tcp
system = glances terminator preload lsb-core gparted lm-sensors compizconfig-settings-manager hardinfo fortune-mod libnotify-bin compiz-fusion-plugins-extra most tree ccze
security = rkhunter chkrootkit cron-apt fail2ban
web = pidgin pidgin-facebookchat pidgin-plugin-pack flashplugin-downloader xchat ttf-mscorefonts-installer nautilus-dropbox xclip zenity
unity = unity-tweak-tool

# The Unity configuration section
# theme = themename              > Use the Unity theme themename
# icons = iconsname              > Use the icons theme iconsname
# cursors = cursorssname         > Use the cursors theme cursorsname
# conky = cfgfile                > .conkyrc URL
[unity]
#theme = TOBECONFIGURE
icons = Faenza
#cursors = TOBECONFIGURE
conky = https://raw.github.com/nicolargo/ubuntupostinstall/master/conkyrc


# The . files section
# Download ans installa . file on the $HOME folder
[dotfiles]
#bashrc = https://raw.github.com/nicolargo/dotfiles/master/bashrc
#bashrc_prompt = https://raw.github.com/nicolargo/dotfiles/master/_bashrc.d/bashrc_prompt
#bashrc_aliases = https://raw.github.com/nicolargo/dotfiles/master/_bashrc.d/bashrc_aliases
#vimrc = https://raw.github.com/vgod/vimrc/master/vimrc
htoprc = https://raw.github.com/nicolargo/dotfiles/master/htoprc
pythonrc = https://raw.github.com/nicolargo/dotfiles/master/pythonrc

# Actions to be executed after all the others steps
# Use && separator if there is more than 1 action
[postactions]
action_vimcustom = wget https://raw.github.com/vgod/vimrc/master/auto-install.sh && chmod a+x auto-install.sh && ./auto-install.sh && rm -f ./auto-install.sh
action_setright = chown -R $SUDO_USER:$SUDO_USER $HOME/.vimrc $HOME/.vim $HOME/.htoprc
action_dummy = dpkg -l > /tmp/pkg-after.txt
